* {
    box-sizing: border-box;
    /* tao font cho toan bo the html trong trang web */
}

body {
    font-family: 'Sen', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #330867, #30cfd0);
}

.container {
    background-color: #fff;
    width: 30%;
    padding: 24px 14px;
    border-radius: 20px;
}
.headings {
    display: flex;
    align-items: center;
}
.name-app {
    font-size: 32px;
    font-weight: 500;
}
.book-img {
    margin-left: 8px;
}
.book-icon {
    width: 40px;
    height: 40px;
}
.list-add {
    margin-top: 20px;
    position: relative;
}
#inp {
    border-radius: 30px;
    border: none;
    padding: 20px 12px;
    font-size: 16px;
    width: 100%;
    background-color: #ebe6e6;
    outline: none;

}
.btn-add {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 30px;
    border: none;
    padding: 20px 12px;
    font-size: 16px;
    background-color: #FF5845;
    width: 110px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    /* display: none; */
}
.btn-add:hover {
    opacity: 0.6;
}
.task-box {
    margin-top: 24px;
    margin-bottom: 12px;
}
/* task list */
.task-list-item {
    display: flex;
    font-size: 18px;
    align-items: center;
    line-height: 18px;
    padding: 8px 0;
    position: relative;
}
.task-list-item::before {
    cursor: pointer;
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(./assets/img/unchecked.png);
    background-size: cover;
    background-position: cover;
}
.task-list-item.checked::before {
    background-image: url(./assets/img/checked.png);
}
.task-list-item.checked {
    text-decoration: line-through;
}
.task-content {
    margin-left: 40px;
    cursor: pointer;
}
.task-list-item span {
    position: absolute;
    top: -4px;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #555;
    line-height: 40px;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
}
.delete-icon {
    display: block;
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
    margin-left: auto;
    margin-right: 8px;
}